
body.dark-mode {
  background-color: #091025;
 
  color: #ffffff;

}

body.dark-mode .sidebar {
  background-color: #091025;

  color: #ffffff;
 
}
/* .body.dark-mode #courses{
  background-color:#097025 ;
} */


/* body.dark-mode .sideprofile{
  margin-top: 20px;
  margin-bottom: 20px;
} */
.logo img{
width: 200px;
}
body.dark-mode .hero  {
  border: 2px solid #fff;
  border-radius: 8px;
}
body.dark-mode input{
  color: black;
}
body.dark-mode #searchPopup,body.dark-mode #cartPopup, body.dark-mode #NotificationPopup, body.dark-mode #inboxPopup, body.dark-mode #profilePopup{
  background-color: transparent !important;
}
body.dark-mode #cartPopup p{
  color: black;
}
body.dark-mode .logo img {
  /* content: url(../../public/images/dark-logo.png); */
  width: 200px;
}
body.dark-mode .Profilerows p.now{
 background-color: #EAB310;
}
body.dark-mode .header-container a {
  background-color: transparent !important;
  border: 2px solid transparent !important;
}
body.dark-mode .header-container a:hover {
 border: 2px solid yellow !important;

}
body.dark-mode .header-container .now{
border: 2px solid yellow !important;
}
body.dark-mode .desc{
  margin-left: 10px;
}

body.dark-mode .header, .header .div {
  background-color: none;
  width: 100%;
  color: white;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode i,
body.dark-mode li,
body.dark-mode span{
  color: white;
}
body.dark-mode .rows{
  border: 2px solid white;
  
}
body.dark-mode div {
  background-color: #080D1E;
}
body.dark-mode #profiletype{
 background-color: yellow;
 padding: 2px 20px;
 border-radius: 8px;
}


.moon {
  opacity: 0;
}


.moon.moon-opacity {
  opacity: 1;
}

.sun.sun-opacity {
  opacity: 0;
}
/* @media (max-width: 768px) {
  body.dark-mode .profileEl{
border: #ffffff;
  }
  body.dark-mode .header{
    box-shadow: #ffffff;
  }
  
} */