li {
  list-style: none;
}

.sidebar {
  background-color: white;
  box-shadow: 0px 4px 600px -1px rgba(0, 0, 0, 0.1),
    0px 2px 400px -1px rgba(0, 0, 0, 0.06);
  width: 20%;
  z-index: 10;
  visibility: visible;
  overflow-y: auto;
  height: calc(100vh - 0px);
  position: fixed;
  overflow-x: hidden;
  margin-bottom: 20px;
  visibility: visible;
}

.bars {
  visibility: hidden;
}

@media (max-width: 768px) {
  .sidebar {
    width: 300px;
    visibility: hidden;
  }

  .closeSide {
    font-size: 33px;
    margin-left: 40px;
    background: rgb(248, 246, 246);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;

  }

  .logo {
    width: 600px;
  }

  #durug {
    padding-left: 0px;
  }

  .header-container a {
    visibility: hidden;
  }

  .navfeatures {
    margin: 0;
    padding: 0;
    margin-left: -400px;
    margin-top: 18px;

  }

  .profileEl h3 {
    visibility: hidden;
  }

  .profileEl {
    margin-right: 90px;
    margin-left: -30px;
    margin-right: 90px;
    background-color: transparent !important;
    border: none;

    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 50;
  }

  .profilePicture img {
    width: 300px;
    margin-right: 190px;
    align-items: center;
    margin-left: -66px;
    width: 80px;
    border: 2px solid red;
  }

  .profilePicture img:hover {
    border: 2px solid green;
  }

  .bars {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom:  15px;
    padding: 2px;
    margin-left: 10px;
    cursor: pointer;
    visibility: visible;
  }

  #searchPopup {
    width: 100%;

  }

  #searchPopup input {
    margin-left: 20px;
    width: 400px;
  }

  #searchPopup .closeSearch {
    margin-left: 460px;
  }

  #cartPopup {
    margin-left: -200px;
  }

  #NotificationPopup {
    margin-left: -60px;
  }

  #inboxPopup {
    margin-left: -600px;
  }


}